<table class="tabela">
    <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <!-- utilizar uma diretiva de estrutural ngIf para exibir um ngTemplate -->
    <tbody *ngIf="transferencias.length > 0; else listaVazia">
        <!-- implementando uma diretiva estrutural para fazer um for -->
        <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
            <td class="tabela__conteudo">{{ transferencia.data | date: "short"}}</td>
            <td class="tabela__conteudo">{{ transferencia.valor | currency}}</td>
            <td class="tabela__conteudo">{{ transferencia.destino }}</td>
        </tr>
    </tbody>
</table>

<!-- Criando um ng-template para ser chamado pelo ID (#) em caso de else -->
<ng-template #listaVazia>
    <p>Nenhuma operação cadastrada</p>
</ng-template>
